/* container */
$widthContainer: 1320px;
$paddingContainer: 15px;

/* base typography */
$baseFont: 'Ibarra Real Nova', serif;
$baseWeight: 400;

/* colors */
$linkColor: #333333; /* base color for <a> */